.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.header__links-list{
    display: flex;
    gap: 26px;
    list-style: circle;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__logo-image{
    width: 148px;
    height: 105px;
}

.address{

}

.header__address{
    max-width: 240px;
    justify-self: end;
}

.cover{
    background-image: url("/images/cover.jpg");
    position: relative;
    width: 1100px;
    height: 757px;
    color: #fff;
}

.overlay{
    position: absolute;
    z-index: 0;
    background-color: #00000099;
    width: 100%;
    height: 100%;
}

.cover__title{
    z-index: 1;
    position: absolute;
    top: 165px;
    left: 50px;
    font-size: 100px;
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 1000px;
    height: 385px;
}

.cover__description{
    z-index: 1;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.letter-spacing-extended{
    letter-spacing: 30%;
}

.no-letter-spacing{
    letter-spacing: 0;
}
.aligned-text_center{
    justify-self: center;
    align-self: center;
}

.aligned-text_right{
    justify-self: end;
    align-self: end;
}

.cover__description{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 51px;
}

.cover__description-text{
    word-spacing: 90%;
    text-transform: uppercase;
}

.bet-button{
    background-color: transparent;
    display: inline-block;
    color: #fff;
    width: 256px;
    height: 100%;
    text-transform: uppercase;
}

.lots {
    margin: 180px 24px 0px 24px;
}

.lots__card-list{
    list-style: none;
    display: flex;
    gap: 25px;
}

.about{
    margin: 120px 24px 180px 24px;
}

.footer{
    margin-top: 180px;
}