body{
    width: 1100px;
    margin: 0;
    height: 3028px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 293px;
  width: 100%;
}

.header__links-list {
  display: flex;
  gap: 26px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  background-image: url("/images/cover.jpg");
  position: relative;
  width: 1100px;
  height: 757px;
  color: #fff;
}

.overlay {
  position: absolute;
  z-index: 0;
  background-color: #00000099;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.cover__title {
  z-index: 1;
  position: absolute;
  top: 165px;
  left: 50px;
  font-size: 100px;
  display: grid;
  font-weight: bold;
  grid-column: 1;
  grid-row: 3;
  width: 1000px;
  height: 385px;
}

.letter-spacing-extended {
  letter-spacing: 30%;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
}

.aligned-text_right {
  justify-self: end;
  align-self: end;
}

.cover__description {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 51px;
z-index: 1;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.cover__description-text {
  word-spacing: 90%;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  display: inline-block;
  color: #fff;
  width: 256px;
  height: 100%;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 0px 24px;
  height: 723px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: bold;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 596px;
  color: #fff;
}

.card {
  padding: 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: -1;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  position: relative;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  margin-left: 40px;
}

.about {
  margin: 120px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px auto;
  height: 595px;
}

.about__column {
  display: grid;
  grid-template-rows: 240px auto;
}

.about__logo {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

.first-paragraph {
  margin-bottom: 24px;
}

.footer {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
  height: 180px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
